@model PokeAPi.Models.GetPokemons
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";

}






<div class="page-wrapper">

    <!-- ============================================================== -->
    <!-- Container fluid  -->
    <!-- ============================================================== -->
    <div class="container-fluid">
        <!-- ============================================================== -->
        <!-- Bread crumb and right sidebar toggle -->
        <!-- ============================================================== -->
        <div class="row page-titles">
            <div class="col-md-5 col-8 align-self-center">
                <h3 class="text-themecolor">Pokemones</h3>
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="javascript:void(0)">Home</a></li>
                    <li class="breadcrumb-item active"><a href="@Url.Action("Index", "Pokemon")">Dashboard</a></li>
                </ol>
            </div>
        </div>
        <!-- ============================================================== -->
        <!-- End Bread crumb and right sidebar toggle -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- Start Page Content -->
        <!-- ============================================================== -->
        <!-- Row -->
        <div class="row">
            <!-- Column -->
            @*<div class="col-md-6 col-lg-12">*@
            <div class="col-md-12">
                <div class="card card-body">
                    <div class="portlet light portlet-fit add-padding-pagination">
                        <div class="portlet-title" style="padding-bottom: 0px;">
                            <div class="caption bold uppercase font-green-seagreen ">
                                <i class="font-green-seagreen  bold icon-list"></i>
                                <span class="caption-subject bold">Listado de Pokemones</span>
                            </div>
                        </div>
                        <div class="row">
                            @if (Model != null && Model.PokemonDetailList.Count() > 0)
                            {
                                foreach (var item in Model.PokemonDetailList)
                                {                                   
                                    <div class="col-sm-4">
                                        <div class="card">
                                            <img class="card-img-top" src="https://comicvine.gamespot.com/a/uploads/original/11138/111384217/6920066-d5ywg9l-b4a8a6e1-06a0-4c22-8dc6-8605193a1e7b.jpg" alt="Card image cap">
                                            <div class="card-body little-profile text-center">
                                                <div class="pro-img"><img src="@item.Sprites.FrontDefault" alt="user" /></div>
                                                <h3 class="m-b-0">@item.Name</h3>
                                                <p>Experiencia acumulada: @item.BaseExperience</p>
                                                <a href="javascript:void(0)" class="m-t-10 waves-effect waves-dark btn btn-primary btn-md btn-rounded">Detalles</a>
                                                <div class="row text-center m-t-20">
                                                    <div class="col-lg-4 col-md-4 m-t-20">
                                                        <h3 class="m-b-0 font-light">@item.Stats[0].BaseStat</h3><small>Vida</small>
                                                    </div>
                                                    <div class="col-lg-4 col-md-4 m-t-20">
                                                        <h3 class="m-b-0 font-light">@item.Stats[1].BaseStat</h3><small>Ataque</small>
                                                    </div>
                                                    <div class="col-lg-4 col-md-4 m-t-20">
                                                        <h3 class="m-b-0 font-light">@item.Stats[2].BaseStat</h3><small>Defensa</small>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                }
                            }

                            @*<div class="col-sm-3">
                                asdsad
                            </div>*@
                        </div>                      
       
                        
                    </div>
                </div>
            </div>


        </div>



        <!-- ============================================================== -->
        <!-- End Container fluid  -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- footer -->
        <!-- ============================================================== -->
        <footer class="footer"> © 2023 Marin Moreno Jesus Paul</footer>
        <!-- ============================================================== -->
        <!-- End footer -->
        <!-- ============================================================== -->
    </div>


</div>




